@import './tokens.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-size-body-default);
  line-height: var(--line-height-body-default);
  color: var(--color-text-primary);
  background: var(--color-bg-default);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  margin: 0;
}
